@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}
body{
    font-family: "PT Sans Narrow", Arial, 'Raleway', sans-serif;
    background-color: #D6D5D4;
}
header{
	width: 100%;
	height: 50px;
	background: #FC2626;
	color: #fff;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}
nav{
	height: 80px;
	width: 100%;
	background: black;
	position: fixed;
}
label.logo{
	font-size: 50px;
	font-weight: bold;
	color: white;
	padding: 0 100px;
	line-height: 80px;
}
nav ul{
	float: right;
	margin-right: 40px;
}
nav li{
	display: inline-block;
	margin: 0 8px;
	line-height: 80px;
}
nav a{
	color: white;
	font-size: 18px;
	text-transform: uppercase;
	border: 1px solid transparent;
	padding: 7px 10px;
	border-radius: 3px;
}
a.active,a:hover{
	background:#FC2626;
	border-radius:50px;
}
nav #icon{
	color: white;
	font-size: 30px;
	line-height: 80px;
	float: right;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}
@media (max-width: 1048px){
	label.logo{
		font-size: 32px;
		padding-left: 60px;
	}
	nav ul{
		margin-right: 20px;
	}
	nav a{
		font-size: 17px;
	}
}
@media (max-width: 909px){
	nav #icon{
		display: block;
	}
	nav ul{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #899286;
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all .5s;
	}
	nav li{
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}
	nav a{
		font-size: 20px;
	}
	a.active,a:hover{
		border: none;
		color: #FFFFFF;
	}
	nav ul.show{
		left: 0;
	}
}



h1{
	text-align: center;
	color: transparent;
    margin: auto;
    font-size: 50px;
    background-image: url(../images/degradado2.jpg);
    background-position: center;
    background-size: cover;
    -webkit-background-clip: text;

    -webkit-text-stroke: 1.5px black;
    margin-top: 120px;
}

.linea{
	background: #FC2626;
	height: 5px;
	width: 100%;
	display: block;
	margin-top: 40px;
}

.sub-title{
    font-size: 40px;
    font-weight: 400;
    text-align: left;
    margin-left: 40px;
    margin-top: 60px;
}

img{
    max-width: 100%;
}

.container-all{
	margin: 0 auto;
    position: relative;
    max-width: 1000px;
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
    margin-top: 20px;
}

.slide{
    display: flex;
    transform: translate3d(0, 0, 0);
    transition: all 600ms;
    animation-name: autoplay;
    animation-duration: 6.5s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.item-slide{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
}

.pagination{
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.pagination-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 10px;
    text-align: center;
    transition: all 300ms;
}

.pagination-item:hover{
    transform: scale(2);
}

.pagination-item img{
    display: inline-block;
    max-width: none;
    height: 100%;
    transform: scale(1);
    opacity: 0;
    transition: all 300ms;
}

.pagination-item:hover img{
    opacity: 1;
    transform: scale(1);
}


input[id="1"]:checked ~ .slide{
    animation: none;
    transform: translate3d(0, 0, 0);
}

input[id="1"]:checked ~ .pagination .pagination-item[for="1"]{
    background: #fff;
}

input[id="2"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 1), 0, 0);
}

input[id="2"]:checked ~ .pagination .pagination-item[for="2"]{
    background: #fff;
}


input[id="3"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 2), 0, 0);
}

input[id="3"]:checked ~ .pagination .pagination-item[for="3"]{
    background: #fff;
}


@keyframes autoplay{
    33%{
        transform: translate3d(calc(-100% * 0), 0, 0);
    }

    66%{
        transform: translate3d(calc(-100% * 1), 0, 0);
    }

    100%{
        transform: translate3d(calc(-100% * 2), 0, 0);
    }
}


.galeria{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	width: 95%;
	margin: auto;
	grid-gap: 10px;
	padding: 40px 0;
	overflow: hidden;
}

.galeria > a{
	display: block;
	position: relative;
	overflow: hidden;
	box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.galeria img{
	width: 100%;
	vertical-align: top;
	height: 300px;
	object-fit: cover;
	transition: transform 0.5s;
}

.galeria a:hover img{
	filter: blur(1px);
	transform: rotate(10deg) scale(1.3);

}

.light-box{
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,.5);
	transition: transform .3s ease-in-out;
	width: 100%;
	height: 100vh;
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: scale(0);

}

.light-box img{
	width: 75vw;
	max-height: 90vh;
}

.light-box:target{
	transform: scale(1);
}

.close{
	display: block;
	position: absolute;
	top: 40px;
	right: 40px;
	background: #851919;
	color: #fff;
	text-decoration: none;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
}

.next{
	display: block;
	background: #851919;
	color: #fff;
	height: 30px;
	width: 30px;
	line-height: 30px;
	text-decoration: none;
	text-align: center;
}

@media screen and (max-width: 900px){
	.galeria{
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

	}

	.close{
		top: 30px;
		right: 20px;
	}
}